body, html {
    height: 100vh;
}

.logo p {
    margin: 0;
}

a {
    cursor: pointer;
}

.header-row {
    height: 50px;
    padding-left: var(--bs-gutter-x,.75rem);
    padding-right: var(--bs-gutter-x,.75rem);
}

.navbar-toggler-icon {
    font-size: 16px;
}

.navbar-brand {
    font-size: 18px;
}

.card {
    width: 70%;
}

.dropdown-item {
    overflow: hidden;
}

aside li {
    list-style: none;
    list-style-position: unset;
}

.panel {
    /* height: 94.8%; */
    height: calc(100% - 50px - 0.25rem);

}